.container {
    /* class의 타켓팅은 .으로 해준다 */
    background-color: beige;
    display: flex;
    /* 디스플레이를 flex로 바꿔 요소들을 중앙에 두기 편하게 설정해준다 */
    flex-direction: column;
    /* 이 클랫 ㅡ안에 있는 요소들이 위에서 아래인 수직으로 쌓이게 해준다 */
    padding: 32px 0;
    /* 위 아래 여백을 32픽셀로 해준다 이쁘게 */
}

.input_container {
    /* div class 인 input container를 스타일링해준다 */

    width: 80;
    display: flex;
    /* flex를 사용해서 요소를 중앙에 위치하게 만든 후 밑에 자식 요소들이 자동으로 거리를 두게한다 */
    align-self: center;
    justify-content: space-between;
}

#input {
    width: 70%;
    /* 넓이를 70으로 설정 */
    padding: 8px 12px;
    border-radius: 4px;
    /* 입력창 모서리를 둥글게 해준다 */
    border: 1px solid #eaeaea;
    /* 경계션을 1px두께, 위 색깔로 바꿔준다 */
}

#add-button {
/* add-bitton라는 id를 가진거는 타켓팅을 #으로 해준다 */
width: 20%;
background-color: #41a3fe;
border-radius: 4px;
border: 1px solid #41a3fe;
color: white;
}

.list-container{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 80%;
    align-self: center;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: antiquewhite;
}

h1 {
    padding: 16px 24px;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;
}

#list {
    margin: 32px 0;
}

.list-item {
/* li class=list- */    
    border-bottom: 1px solid #eaeaea;
    margin-right: 32px;
    padding: 16px 0;
    font-size: 14px;
}